{% extends 'core/base.html' %}

{% block content %}
  <div class="container my-5">
    <h1>{{ employee.id }} . {{ employee.name|title }}</h1>
    <hr>
    <div class="row">
      <h3 class="py-3">Employee Photos </h3>
      
      {% for photo in photos %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body position-relative">
              <!-- a rounded delete button on right top -->
              <a href="delphoto/{{ photo.id }}"
              class="btn btn-danger btn-sm rounded-circle position-absolute" style="top: 0; right: 0; width: 30px; height: 30px; padding: 6px;"><i class="fas fa-times"></i> 
                 </a>
              <img src="{{ photo.image.url }}" class="card-img-top" alt="...">
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
  </div>

  
  <div class="container my-5">

    <h2 class="my-3">Upload more photos</h2>

    <form action=""
     method="POST" enctype="multipart/form-data">
      {% csrf_token %}
            <!-- Add photos for -->
            <label for="empphotos" class="form-label">Employee Photos</label>
            <input class="form-control" type="file" id="empphotos" multiple name="empphotos"
            />
      <button type="submit" class="btn btn-primary my-3">Upload</button>
    </form>
  </div>
{% endblock %}
